html {
  box-sizing: border-box
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color:darkslateblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slots {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: olivedrab;
  border: 8px solid black;
  width: 140px;
  height: 200px;
  margin: 16px;
  font-size: 70px;
}

button {
  margin: 16px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.credits {
  display: flex;
  justify-content: center;
}

.credits > h2 {
  margin: 15px;
}